# Unity3D

# Ignore solution and project files because Unity build them itself
*.csproj
*.sln
*.unityproj
*.suo
*.pidb
*.user
*.userprefs

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin/
obj/

# Ignore Unity's internal folders
/Library
/Temp

# mstest test results
TestResults